name: Build
on:
  push:
    branches:
      - master
  pull_request:
permissions:
  contents: write
  packages: write
jobs:
  build:
    name: Compile
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
    steps:
      - uses: actions/checkout@v5
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
          check-latest: true
      - name: Compile
        run: make install
  test-macos:
    name: Test (macOS)
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v5
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
          check-latest: true
      - name: Test
        run: make test
        env:
          BASH_SILENCE_DEPRECATION_WARNING: 1
          MUTE_FLAKY_TESTS: 1

  test-ubuntu:
    name: Test (Ubuntu + Consul)
    runs-on: ubuntu-latest
    services:
      consul:
        image: consul:1.15
        ports:
          - 8500:8500
        options: >-
          --health-cmd "consul members"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    steps:
      - uses: actions/checkout@v5
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
          check-latest: true
      - name: Test
        run: make test
        env:
          BASH_SILENCE_DEPRECATION_WARNING: 1
          MUTE_FLAKY_TESTS: 1

  test-windows:
    name: Test (Windows)
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v5
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
          check-latest: true
      - name: Test
        run: go test -v ./...
        env:
          MUTE_FLAKY_TESTS: 1
  vet:
    name: Vet
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
          check-latest: true
      - name: Vet
        run: make vet
  build-and-release:
    name: Build and Release (Snapshot)
    uses: ./.github/workflows/build-and-release.yaml
    with:
      snapshot: true
      docker_repo: ghcr.io/owenthereal/upterm/uptermd
    secrets: inherit
