name: Build and Release

on:
  workflow_call:
    inputs:
      snapshot:
        description: 'Build snapshot (no publishing)'
        required: false
        default: true
        type: boolean
      docker_repo:
        description: 'Docker repository'
        required: false
        default: 'ghcr.io/owenthereal/upterm/uptermd'
        type: string

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
          check-latest: true

      - name: Install GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          install-only: true
          distribution: goreleaser
          version: "~> v2"

      - name: Set GoReleaser version
        run: |
          goreleaser_version="$(goreleaser --version | grep GitVersion | awk '{print $2}')"
          echo "GORELEASER_VERSION=${goreleaser_version}" | tee -a "$GITHUB_ENV"

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Set up Docker QEMU
        uses: docker/setup-qemu-action@v3
        with:
          platforms: 'amd64,arm64'

      - name: Login to ghcr.io
        if: ${{ !inputs.snapshot }}
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GH_TOKEN }}

      - name: Run GoReleaser (Snapshot)
        if: ${{ inputs.snapshot }}
        uses: goreleaser/goreleaser-action@v6
        with:
          distribution: goreleaser
          version: '~> v2'
          args: release --clean --snapshot --skip=publish
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
          DOCKER_REPO: ${{ inputs.docker_repo }}

      - name: Run GoReleaser (Release)
        if: ${{ !inputs.snapshot }}
        uses: goreleaser/goreleaser-action@v6
        with:
          distribution: goreleaser
          version: '~> v2'
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
          DOCKER_REPO: ${{ inputs.docker_repo }}
